<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="fa fa-user"></i></span>
        Editar Pessoa
      </p>
    </header>
    <div class="card-content">

      <form [formGroup]="pessoaForm" class="form" (submit)="salvar()">

        <!--primeira linha-->
        <div class="columns">

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" formControlName="nome" type="text" placeholder="Nome da Pessoa">
                <span class="icon is-left">
                  <i class="fas fa-user-tie"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" formControlName="email" type="text" placeholder="Email da Pessoa">
                <span class="icon is-left">
                  <i class="fas fa-envelope "></i>
                </span>
              </div>
            </div>
          </div>

        </div>

        <!--segunda linha-->
        <div class="columns">

          <div class="column is-2">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select formControlName="sexo">
                    <option id="MASCULINO">Masculino</option>
                    <option id="FEMININO">Feminino</option>
                    <option id="OUTROS">Outros</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" formControlName="cpf" [maxLength]="15" type="text" placeholder="CPF da Pessoa">
                <span class="icon is-left">
                  <i class="fas fa-id-card"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <nz-date-picker nzSize="large" nzPlaceHolder="Data de Nascimento" formControlName="nascimento">
                </nz-date-picker>
              </div>
            </div>
          </div>

        </div>

        <!--terceira linha-->
        <div class="columns">

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">

                <input class="input" placeholder="Nacionalidade" formControlName="nacionalidade">
                <span class="icon is-left">
                <i class="fas fa-globe"></i>
              </span>

              </div>
            </div>
          </div>

          <div class="column">

            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input class="input " placeholder="Naturalidade" formControlName="naturalidade">
                <span class="icon is-left">
                <i class="fas fa-city"></i>
              </span>
              </div>
            </div>

          </div>

        </div>

        <!--botao salvar cancelar-->
        <div class="field is-grouped is-grouped-right">

          <p class="control">
            <button type="submit" class="button is-primary"
                    [disabled]="this.pessoaForm.invalid">
              Atualizar
            </button>
          </p>

          <p class="control">
            <a class="button is-light" routerLink="/list-pessoa">
              Cancelar
            </a>
          </p>

        </div>

      </form>

    </div>
  </div>
</section>
