<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="fa fa-user"></i></span>
        Visualizar Pessoa
      </p>
    </header>
    <div class="card-content">

        <!--primeira linha-->
        <div class="columns">

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" disabled value="{{pessoa.nome}}" type="text" placeholder="Nome da Pessoa">
                <span class="icon is-left">
                  <i class="fas fa-user-tie"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" disabled value="{{pessoa.email}}" type="text" placeholder="Email da Pessoa">
                <span class="icon is-left">
                  <i class="fas fa-envelope "></i>
                </span>
              </div>
            </div>
          </div>

        </div>

        <!--segunda linha-->
        <div class="columns">

          <div class="column is-2">
            <div class="field">
              <div class="control">
                <input class="input" disabled value="{{pessoa.sexo?.descricao}}" type="text" placeholder="Sexo da Pessoa">
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" disabled value="{{pessoa.cpf}}" [maxLength]="15" type="text" placeholder="CPF da Pessoa">
                <span class="icon is-left">
                  <i class="fas fa-id-card"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">
                <nz-date-picker nzDisabled nzSize="large" nzPlaceHolder="Data de Nascimento"
                                [ngModel]="pessoa.nascimento">
                </nz-date-picker>
              </div>
            </div>
          </div>

        </div>

        <!--terceira linha-->
        <div class="columns">

          <div class="column">
            <div class="field">
              <div class="control has-icons-left">

                <input class="input" disabled placeholder="Nacionalidade" value="{{pessoa.nacionalidade}}">
                <span class="icon is-left">
                <i class="fas fa-globe"></i>
              </span>

              </div>
            </div>
          </div>

          <div class="column">

            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input class="input" disabled placeholder="Naturalidade" value="{{pessoa.naturalidade}}">
                <span class="icon is-left">
                <i class="fas fa-city"></i>
              </span>
              </div>
            </div>

          </div>

        </div>

        <!--botao salvar cancelar-->
        <div class="field is-grouped is-grouped-right">

          <p class="control">
            <a class="button is-light" routerLink="/list-pessoa">
              Voltar
            </a>
          </p>

        </div>

    </div>
  </div>
</section>
