<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">

      <form [formGroup]="loginForm" (submit)="login()">

        <div class="field">
          <label class="label">Usuario</label>
          <div class="control has-icons-left">
            <input class="input" formControlName="userName" placeholder="ex: softplan" autofocus>
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control has-icons-left">
            <input type="password"
                   formControlName="password"
                   placeholder="*******" class="input">
            <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
          </div>
        </div>

        <div class="field">
          <a disabled
            routerLink="/forgot-password"
            class="">
            Esqueceu a senha?
          </a>
        </div>


        <div class="field">
          <div class="control">
            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="button is-fullwidth is-rounded is-success">
              Login
            </button>
          </div>

        </div>
      </form>
    </section>
  </div>
  <button class="modal-close is-large" routerLink="/" aria-label="close"></button>
</div>




