
<div class="container">

  <app-navbar></app-navbar>

  <section class="section">
    <div class="box">
      <router-outlet></router-outlet>
    </div>
  </section>

  <app-footer></app-footer>
</div>


