
<section class="section">

  <div class="container has-text-centered">
    <div class="columns is-centered">

      <div class="column is-7">
        <h1 class="title is-1">404</h1>
        <p class="subtitle is-3">Page not found</p>
        <p>A Página solicitada não foi encontrada.</p>
      </div>

    </div><a class="button is-primary" routerLink="/home">Voltar </a>

  </div>

</section>
