<footer class="footer">
  <div class="column is-8 is-offset-2">
    <br>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">

          <a href="https://www.linkedin.com/in/andresilvaalves/" target="_blank" >
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span> &emsp;
          </a>


          <a class="" href="https://gitlab.com/andresilvaalves" target="_blank" >
            <span class="icon">
              <i class="fab fa-gitlab"></i>
            </span> &emsp;
          </a>

        </div>
      </div>
      <div class="level-right">
        <small class="level-item">
          Desafio Técnico Softplan. @ André Silva Alves
        </small>
      </div>
    </nav>
  </div>
</footer>


