<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.softplan.com.br/" target="_blank">
      <img src="https://www.softplan.com.br/wp-content/themes/softplan-2019/imagens/logo-softplan-blue.svg" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>

      <a class="navbar-item" routerLink="/list-pessoa" *ngIf="userService.isLogged()">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span> CRUD Pessoa</span>
      </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Documentação
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://gitlab.com/andresilvaalves/softplan-back" target="_blank">
            <span class="icon">
              <i class="fab fa-gitlab" aria-hidden="true"></i>
            </span>
            <span>Código Backend</span>
          </a>
          <a class="navbar-item" href="https://gitlab.com/andresilvaalves/softplan-front" target="_blank">
            <span class="icon">
              <i class="fab fa-gitlab" aria-hidden="true"></i>
            </span>
            <span>Código Frontend</span>
          </a>
          <a class="navbar-item" href="https://gitlab.com/andresilvaalves/softplan-back/container_registry" target="_blank">
            <span class="icon">
              <i class="fab fa-docker" aria-hidden="true"></i>
            </span>
            <span>Docker Backend</span>
          </a>
          <a class="navbar-item" href="https://gitlab.com/andresilvaalves/softplan-front/container_registry" target="_blank">
            <span class="icon">
              <i class="fab fa-docker"aria-hidden="true"></i>
            </span>
            <span>Docker Frontend</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="http://168.138.143.32:8093/swagger-ui.html" target="_blank"  *ngIf="userService.isLogged()">
            <span class="icon">
              <i class="swagger-icon" aria-hidden="true"></i>
            </span>
            <span>Swagger</span>
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" (click)="logout()" *ngIf="userService.isLogged()">
            <strong>Logout</strong>
          </a>
          <a class="button is-primary" routerLink="/login" *ngIf="!userService.isLogged()">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
