<div>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="fa fa-users"></i></span>
        Pessoa
      </p>
    </header>

    <div class="card-content">
      <div class="table-container">

        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data Nascimento</th>
            <th>E-mail</th>
            <th></th>
          </tr>

          </thead>

          <tbody>
          <tr *ngFor="let pessoa of pessoas">
            <td></td>
            <td class="">{{pessoa.nome}}</td>
            <td>{{pessoa.cpf }}</td>
            <td>{{ pessoa.nascimento }}</td>
            <td>{{ pessoa.email }}</td>

            <!--botoes de edicao-->
            <td>
              <div class="buttons is-right">
                <a class="button is-success is-small" title="Visualizar Pessoa"
                   [routerLink]="['/view-pessoa/', pessoa.uuid]">
                      <span class="icon is-small">
                        <i class="fas fa-eye"></i>
                      </span>
                </a>

                <a class="button is-warning is-small " title="Editar Pessoa"
                   [routerLink]="['/edit-pessoa/', pessoa.uuid]">
                      <span class="icon is-small">
                        <i class="fas fa-edit"></i>
                      </span>
                </a>
                <a class="button is-danger is-small" title="Deletar Pessoa"
                   nz-popconfirm nzPopconfirmTitle="Deseja deletar?" [nzIcon]="iconTpl" (nzOnConfirm)="deletar(pessoa.uuid)">
                      <ng-template #iconTpl>
                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                      </ng-template>
                      <span class="icon is-small">
                        <i class="fas fa-trash"></i>
                      </span>
                </a>
              </div>
            </td>
          </tr>

          </tbody>
        </table>

        <div class="notification">

          <div class="level">

            <div class="level-right">
              <div class="level-item">
                <a class="button is-success is-outlined is-small"
                   [routerLink]="['/add-pessoa']">
                  <p>Novo </p>
                  <i class="fas fa-plus icon"></i>
                </a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>
</div>
